.navbar-brand h1{
  width: 100%;
  height: 100%;
}
a.navbar-brand{
  width: auto;
  height: 170px;
}
.main-nav .img-responsive.logo-fixed{
		display: none;
}
.main-nav .img-responsive.logo-top{
	display: block;
    width: auto;
    max-height: 90%;
}
.navbar-fixed-top .img-responsive.logo-top{
	display: none;
}
.navbar-fixed-top .img-responsive.logo-fixed{
	display: block;
}
@media (max-width: 767px){
	a.navbar-brand{
		height: 70px;
		width: auto;
	}
}